@import "../../styles/variaveis.scss";
aside{
    h3{
        text-align: center;
        color: $roxo;
        font-family: $fonte-bold;
        font-size: 1.5em;
    }
    ul {
        padding: 0;
        li{
            margin: 0.5em 0;
            list-style: none;
            img{
                cursor: pointer;
                width: 150px;
                aspect-ratio: 1/1;
                border-radius: 0.6em;

            }

        }
    }
    button{
        background-color: transparent;
        width: 100%;
        border: 3px solid transparent;
        border-image: linear-gradient(to left, $roxo, $rosa);
        border-image-slice: 1;
        border-radius: 5px;
        color: #fff;
        padding: 0.5em 0;
    }
}