@import "../../styles/variaveis.scss";

.content-gallery{
    h2{
        color: $roxo;
        font-family: $fonte-bold;
        padding-top: 1em;
    }
    ul{
        padding: 0.5em 0;

        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;
        li{
            border-radius: 1em;
            overflow: hidden;
            cursor: pointer;
            .content-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $azul-rodape;
                box-sizing: border-box;
                padding: 0.5em 1em;
                .ico-card{
                    &:hover{
                        fill: rgb(223, 65, 104);
                    }
                    &:active{
                        fill: rgb(165, 28, 62);
                    }
                }
            }
            img{
                
                width: 250px;
                aspect-ratio: 1/1;
            }
            h3, p {
                color: #fff;
                font-family: $fonte-normal;
                font-size: 0.8em;
   
            }
        }
    }
    
}
